





// ----------------------------
// Layout: Home
// ----------------------------

body.home {


    // Header & Navigation
    // -------------------

    // Site Header
    .site-header {
        background: url('../images/banners/banner-1.jpg')0 -30px;
    }

    // Brand
    .site-header .brand {
        padding: 156px 0;

        // .logo {
        //     background: url('../images/logos/ifgather-logo-white-shadow-large+@2x.png') no-repeat;
        // }
    }


    @include breakpoint(tablet-H) {
        .site-header .brand {
            padding: 120px 0;
        }
    }
    @include breakpoint(phones) {
        .site-header .brand {
            padding: 80px 0 32px;
        }
    }

    // Navigation
    nav.site-nav ul li a {
        color: $white;
    }



    // Section: Welcome
    // -----------------
    section.welcome {

        // Mission Statement
        .mission-statement {
            @include rgrid(12, 8);
            @include center-cols;
            margin: 42px auto 54px;
        }

        // What If
        .what-if-wrap {
            position: relative;

            a {
                padding: 36px 60px 46px;
                margin-left: 124px;
                height: 200px;

                header {
                    float:right;
                    width: 260px;
                    h2 {
                        font-size: emCalc(26);
                        text-align: center;
                        margin: 0;
                    }
                }
            }
            .what-if-clg {
                background: url(../images/collages/what-if-clg.png) no-repeat;
                height: 229px;
                width: 100%;
                position: absolute;
                top: 12px;
            }


            @include breakpoint(tablet-H) {
                a {
                    padding: 54px 32px;

                    header {
                        float:none;
                        margin: 0 auto;
                        h2 {
                            font-size:emCalc(18);
                            letter-spacing: emCalc(4);
                        }
                    }
                }
                .what-if-clg {
                    left: -32px;
                }

            }

            @include breakpoint(tablet-V) {
                a {
                    margin: 0;

                    header {
                        float: none;
                    }
                }
                .what-if-clg {
                    display: none;
                }
            }
        }
    }


    // Section: Register
    // ------------------
    section.register {
        background: url(../images/banners/banner-2.jpg) no-repeat;
        margin-top: -52px;
        height: 100%;

        @include breakpoint(large-monitors) {
            background-size: 100%;
        }

        .quote {
            float:left;
            margin: 180px 0 0 54px;

            h3 {
                margin: 0 auto;
            }
        }

        .register-now-wrap {
            width: 40%;
            clear: both;
            float: right;

            a {
                font-family: $sans-gothic;
                text-transform: uppercase;
                color: $white;
                padding: 18px;
                text-align: center;
                letter-spacing: .4em;
                font-size: emCalc(14);
                margin-top: -64px;
            }

            .dart-wht-right {
                position: relative;
                top: 2px;
            }

            @include breakpoint(tablet-V) {
                a {
                    margin-top: -12px;
                }
            }

        }

        @include breakpoint(tablet-V) {
            margin-top: 0;

            .quote {
                float: none;
                margin: 32px;
                font-size: 14px;
            }

            .register-now-wrap {
                width: 100%;
            }
        }
    }

    // Section: Questions
    // ------------------
    section.questions {
        background: url(../images/banners/banner-3.jpg) no-repeat;
        background-size: 100%;
        height: 100%;

        .quote {
            @include rgrid(12, 6);
            float:right;
            position: relative;
            z-index: 2;
            margin: 32px auto 24px;
        }

        .question {
            @include rgrid(12, 10);
            @include center-cols;
            padding:48px 52px 46px;;
            clear: both;
            position: relative;
            top: -40px;
            margin-bottom: -54px;

            h3 {
                font-size: emCalc(28);
            }
        }

        @include breakpoint(tablet-V) {
            .question{
                float:left;
                clear: none;
                margin: auto;
                top: 0;
            }
            .quote {
                margin: auto;
            }
        }
    }


    // Element: Highlight Article
    // -----------------
    .highlight-article {
        margin: 52px 0 60px;

        header {
            padding: 0 15px;
            h2 {
                letter-spacing: .64em;
                display: inline-block;
                font-size: emCalc(32);
            }
        }

        span.tagline {
            display: inline-block;
            font-size: emCalc(18);
            color: $header-font-color;
            text-indent: 24px;
            position: relative;
            top: -4px;
            letter-spacing: .12em;
        }

        article {
            @include rgrid(12, 9);
            float: right;

            p {
                &:before, &:after {
                    top: -60px;
                }
            }
        }


        @include breakpoint(phones) {
            header {
                padding: 0 15px;
                font-size: 12px;
                margin-bottom: 24px;
                text-align: center;
            }

            .brackets.lrg {
                padding: 0 15px;
                &:before, &:after {
                    content: '';
                }
            }
        }

        &.join-us {
            text-align: center;
            margin: 40px 0 12px;
            position: relative;


            &:before {
                position: absolute;
                content: '..............................................';
                letter-spacing: .24em;
                top: -52px;
                left: 50%;
                margin-left: -168px;
            }
        }
    }

    // Element: Quote & Question
    // ------------------
    .quote, .question {
        padding: 30px 52px 28px;
        width: auto;

        h3 {
            margin: 0;
            font-size: emCalc(20);
            line-height: 36px;
        }
    }




}



