





// Layout: Gathering
// -----------------
body.who-we-are {

    // Header & Navigation
    // -------------------

    // Site Header
    .site-header {
        background: url('../images/banners/pre-edits/banner-1.jpg') repeat-y 0 -120px;
    }

    .content-wrap {
        padding-bottom: 0;
    }

    // Navigation
    nav.site-nav ul li a {
        color: $white;
    }

    // Message
    .jennie-message {
        @include rgrid(10, 7);
        @include center-cols();

        h3 {
            margin: 0;
            padding: 30px 0 24px;
        }
    }

    #videoModal.reveal-modal.open {
        padding: 0 !important;
    }

    // Headers
    header.page-section-header {
        margin: 32px auto 60px;
    }

    // Panel
    .panel {
        margin: 60px 0 0;
        padding: 24px 0 142px;
        background: url(../images/patterns/cream.png) repeat;
    }




}