





// Layout: Gathering
// -----------------
body.who-we-are {

    // Header & Navigation
    // -------------------

    // Site Header
    .site-header {
        background: url('../images/banners/pre-edits/banner-1.jpg') repeat-y 0 -120px;
    }

    .content-wrap {
        padding-bottom: 0;
    }

    // Navigation
    nav.site-nav ul li a {
        color: $white;
    }

    // Headers
    header.page-section-header {
        margin: 32px auto 60px;
    }

    // Panel
    .panel {
        margin: 60px 0 0;
        padding: 24px 0 142px;
        background: url(../images/patterns/cream.png) repeat;
    }


}