





// Layout: Gathering
// -----------------
body.gathering {

    // Header & Navigation
    // -------------------

    // Site Header
    .site-header {
        background: url('../images/banners/pre-edits/banner-1.jpg') repeat-y 0 -120px;
    }

    // Brand
    .logo {
        background: url('../images/logos/ifgather-logo-white-shadow-large+@2x.png') no-repeat !important;
    }

    // Navigation
    nav.site-nav ul li a {
        color: $white;
    }

    // Gathering Dates
    .gathering-dates {
        .cream-pattern {
            padding: 72px 0 60px;
            position: relative;

            &:after, &:before {
                content: '';
                position: absolute;
                top: 0;
                height: 0;
                border-top: 20px solid $white;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
            }

            &:after {
                right: 0;
                width: 50%;
                border-left: 20px solid rgba(0, 0, 0, 0);
            }

            &:before {
                left: 0;
                width: 50%;
                border-right: 20px solid rgba(0, 0, 0, 0);
            }
        }
        .inner {
            margin: 0 auto;
            width: 80%;
        }
    }


    // Register Now
    .register-now {
        @include rgrid(12, 9);
        @include center-cols;
        padding: 20px 0px 12px;
        margin: 0 auto 54px;

        h2 {
            font-size: emCalc(26);
            width: 330px;
            margin: 0 auto;

            &:after {
                top:5px;
                right: -30px;
            }

        }

        @include breakpoint(tablet-V) {
            h2 {
                font-size:emCalc(18);
                width: 230px;

                &:after {
                    top: 2px;
                }
            }
        }
    }

    // More Info
    .more-info-wrap {
        header {
            margin-bottom: 24px;
            clear:both;

            h3 {
                font-size: emCalc(14);
            }
        }
    }

}





// -----------
// Prompt Down
// -----------
.prompt-down {
    position: absolute;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    top: -30px;

    &:after, &:before {
        content: '';
        position: absolute;
        top: 0;
        height: 0;
        border-bottom: 30px solid $white;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

    &:after {
        right: 0;
        width: 50%;
        border-left: 30px solid rgba(0, 0, 0, 0);
    }

    &:before {
        left: 0;
        width: 50%;
        border-right: 30px solid rgba(0, 0, 0, 0);
    }
}
