!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 9] <html lang="en" class="no-js lt-ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

%head
    / Meta
    %meta{:charset => "UTF-8"}
    %title If: Gather --dev
    %meta{:name=>"description", :content=>"If:Gather is…"}
    %meta{:name=>"author", :content=>"If:Gather"}
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1"}
    / Style
    %link{:rel => "stylesheet", :href => "../css/site.css"}
    /[if lt IE 9 ]
        %link{:rel => "stylesheet", :href => "../css/ie.css"}/
    / Scripts
    %script{:rel => "javascript", :src => "../js/vendor/custom.modernizr.js"}

%body.blog

    %nav.pushy.pushy-left
        %ul
            %li
                %a{:href => "gathering.html"}
                    Gathering

            %li
                %a{:href => "what-if.html"}
                    What If?

            %li.active
                %a{:href => "equip.html"}
                    Equip

            %li
                %a{:href => "unleash.html"}
                    Unleash

            %li
                %a{:href => "connect.html"}
                    Connect

            %li
                %a{:href => "who-we-are.html"}
                    Who We Are

    #site-wrap

        %section.site-header
            .brand
                %a{:href => "index.html"}
                    %img{:src => "../images/logos/ifgather-logo-drk-large+@2x.png", :alt => ""}/
                    %h1 IF:GATHERING



            %nav.site-nav
                %ul
                    %li
                        %a{:href => "gathering.html"}
                            Gathering

                    %li
                        %a{:href => "what-if.html"}
                            What If?

                    %li.active
                        %a{:href => "equip.html"}
                            Equip

                    %li
                        %a{:href => "unleash.html"}
                            Unleash

                    %li
                        %a{:href => "connect.html"}
                            Connect

                    %li
                        %a{:href => "who-we-are.html"}
                            Who We Are

            .menu-btn
                %span ☰
                Menu


        %section.content-wrap

            .row.equip-post-list

                %section.post-wrap.equip-post-list.push-7.columns
                    %header.title.main
                        %h2 Latest Posts

                    .sort-options
                        .inner.brackets.med
                            %a.dropdown.button{:href => "#", 'data-dropdown' => 'sort-options-list'}
                                sort by



                            %ul#sort-options-list.f-dropdown
                                %li
                                    %a{:href => "tag"} Tag One
                                %li
                                    %a{:href => "#"} Tag Two
                                %li
                                    %a{:href => "#"} Tag Three

                            %form{:action => "/search", :method => 'get'}
                                %input.search{:type => "text", :placeholder => "search"}/



                    %ul.post-list
                        %li
                            %a{:href => "equip-post.html"}
                                %header.article-header
                                    %h4 Registration Open
                                    .date 10.14.13
                            %p
                                Letterpress selvage ullamco viral reprehenderit locavore, gastropub Truffaut leggings readymade
                            %span.dart-blk-right.ornament

                        %li
                            %a{:href => "equip-post.html"}
                                %header.article-header
                                    %h4 Registration Open
                                    .date 10.14.13
                            %p
                                Letterpress selvage ullamco viral reprehenderit locavore, gastropub Truffaut leggings readymade
                            %span.dart-blk-right.ornament

                        %li
                            %a{:href => "equip-post.html"}
                                %header.article-header
                                    %h4 Registration Open
                                    .date 10.14.13
                            %p
                                Letterpress selvage ullamco viral reprehenderit locavore, gastropub Truffaut leggings readymade
                            %span.dart-blk-right.ornament

                        %li
                            %a{:href => "equip-post.html"}
                                %header.article-header
                                    %h4 Registration Open
                                    .date 10.14.13
                            %p
                                Letterpress selvage ullamco viral reprehenderit locavore, gastropub Truffaut leggings readymade
                            %span.dart-blk-right.ornament


        %footer.site-footer
            .inner
                .site-map
                    %a{:href => "gathering.html"}
                        Gathering
                    %a{:href => "what-if.html"}
                        What If?
                    %a{:href => "equip.html"}
                        Equip
                    %a{:href => "unleash.html"}
                        Unleash
                    %a{:href => "connect.html"}
                        Connect
                    %a{:href => "who-we-are.html"}
                        Who We Are

                .brand
                    %a{:href => "index.html"}
                        %img{:src => "../images/logos/ifgather-logo-white-sm.png", :alt => ""}/


    .feature-img
        %img{:src => "../images/banners/if-gathering-equip-feature.jpg", :alt => ""}/

    / More Scripts
    / %script{:rel => "javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}

    %script{:rel => "javascript", :src => "../js/vendor/jquery.js"}
    %script{:rel => "javascript", :src => "../js/pushy/pushy.min.js"}
    %script{:rel => "javascript", :src => "../js/foundation/ig_foundation-dropdown.js"}
    %script{:rel => "javascript", :src => "../js/site-ck.js"}
