!!!

%html{:lang => "en"}

    %head
        / Meta
        %meta{:charset => "UTF-8"}
        %title If: Gather --dev
        %meta{:name=>"description", :content=>"If:Gather is…"}
        %meta{:name=>"author", :content=>"If:Gather"}
        %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1"}
        / Style
        %link{:rel => "stylesheet", :href => "/css/site.css"}
        / Fonts
        %script{:type => "text/javascript", :src => "//use.typekit.net/ahk2bse.js"}
        %script{:type => "text/javascript"} try{Typekit.load();}catch(e){}

        / Scripts
        %script{:rel => "javascript", :src => "../js/vendor/modernizr-custom.2.6.2.js"}

    %body.unleash

        #site-wrap

            %section.site-header
                .brand
                    %a{:href => "index.html"}
                        %img{:src => "../images/logos/ifgather-logo-white-shadow-large+@2x.png", :alt => ""}/
                        %h1 IF:GATHERING



                %nav.site-nav
                    %ul
                        %li
                            %a{:href => "gathering"}
                                Gathering

                        %li
                            %a{:href => "what-if"}
                                What If?

                        %li
                            %a{:href => "equip"}
                                Equip

                        %li.active
                            %a{:href => "unleash"}
                                Unleash

                        %li
                            %a{:href => "connect"}
                                Connect

                        %li
                            %a{:href => "who-we-are"}
                                Who We Are


            %section.content-wrap

                .row
                    %header.page-header
                        %h2
                            unleash
                        %hr.dotted/

                        %p.brackets.med
                            Sriracha flexitarian yr, umami blue bottle next level cliche
                            ugh wolf cardigan elit laboris mustache Brooklyn meggings.
                            Flannel est meh, helvetica placeat irony forage aliqua yr irure.
                            Leggings eu High Life, pickled skateboard Schlitz swag delectus.


                .row
                    %ul.image-list.three-across
                        %li
                            %a.overlay{:href => "unleash-post"}
                                .info
                                    %h4
                                        Mary Sparks
                                    %hr/
                                    %p Occupation &amp; Primary Past-Time
                            %img{:src => "../images/content/placeholder-square.jpg", :alt => ""}/

                        %li
                            %a.overlay{:href => "unleash-post"}
                                .info
                                    %h4
                                        Mary Sparks
                                    %hr/
                                    %p Occupation &amp; Primary Past-Time
                            %img{:src => "../images/content/placeholder-square.jpg", :alt => ""}/

                        %li
                            %a.overlay{:href => "unleash-post"}
                                .info
                                    %h4
                                        Mary Sparks
                                    %hr/
                                    %p Occupation &amp; Primary Past-Time
                            %img{:src => "../images/content/placeholder-square.jpg", :alt => ""}/

                        %li
                            %a.overlay{:href => "unleash-post"}
                                .info
                                    %h4
                                        Mary Sparks
                                    %hr/
                                    %p Occupation &amp; Primary Past-Time
                            %img{:src => "../images/content/placeholder-square.jpg", :alt => ""}/

                        %li
                            %a.overlay{:href => "unleash-post"}
                                .info
                                    %h4
                                        Mary Sparks
                                    %hr/
                                    %p Occupation &amp; Primary Past-Time
                            %img{:src => "../images/content/placeholder-square.jpg", :alt => ""}/

                        %li
                            %a.overlay{:href => "unleash-post"}
                                .info
                                    %h4
                                        Mary Sparks
                                    %hr/
                                    %p Occupation &amp; Primary Past-Time
                            %img{:src => "../images/content/placeholder-square.jpg", :alt => ""}/

                        %li
                            %a.overlay{:href => "unleash-post"}
                                .info
                                    %h4
                                        Mary Sparks
                                    %hr/
                                    %p Occupation &amp; Primary Past-Time
                            %img{:src => "../images/content/placeholder-square.jpg", :alt => ""}/

                        %li
                            %a.overlay{:href => "unleash-post"}
                                .info
                                    %h4
                                        Mary Sparks
                                    %hr/
                                    %p Occupation &amp; Primary Past-Time
                            %img{:src => "../images/content/placeholder-square.jpg", :alt => ""}/

                        %li
                            %a.overlay{:href => "unleash-post"}
                                .info
                                    %h4
                                        Mary Sparks
                                    %hr/
                                    %p Occupation &amp; Primary Past-Time
                            %img{:src => "../images/content/placeholder-square.jpg", :alt => ""}/





            %footer.site-footer
                .inner
                    .site-map
                        %a{:href => "gathering"}
                            Gathering
                        %a{:href => "what-if"}
                            What If?
                        %a{:href => "equip"}
                            Equip
                        %a{:href => "unleash"}
                            Unleash
                        %a{:href => "connect"}
                            Connect
                        %a{:href => "who-we-are"}
                            Who We Are

                    .brand
                        %img{:src => "../images/logos/ifgather-logo-white-sm.png", :alt => ""}/


            %script{:rel => "javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
            %script{:rel => "javascript", :src => "../js/site-ck.js"}


