!!!

%html{:lang => "en"}

    %head
        / Meta
        %meta{:charset => "UTF-8"}
        %title If: Gather --dev
        %meta{:name=>"description", :content=>"If:Gather is…"}
        %meta{:name=>"author", :content=>"If:Gather"}
        %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1"}
        / Style
        %link{:rel => "stylesheet", :href => "/css/site.css"}
        / Fonts
        %script{:type => "text/javascript", :src => "//use.typekit.net/ahk2bse.js"}
        %script{:type => "text/javascript"} try{Typekit.load();}catch(e){}

        / Scripts
        %script{:rel => "javascript", :src => "../js/vendor/modernizr-custom.2.6.2.js"}

    %body.unleash-post

        #site-wrap

            %section.site-header
                .brand
                    %a{:href => "index.html"}
                        %img{:src => "../images/logos/ifgather-logo-drk-large+@2x.png", :alt => ""}/
                        %h1 IF:GATHERING



                %nav.site-nav
                    %ul
                        %li
                            %a{:href => "gathering"}
                                Gathering

                        %li
                            %a{:href => "what-if"}
                                What If?

                        %li
                            %a{:href => "equip"}
                                Equip

                        %li.active
                            %a{:href => "unleash"}
                                Unleash

                        %li
                            %a{:href => "connect"}
                                Connect

                        %li
                            %a{:href => "who-we-are"}
                                Who We Are


            %section.content-wrap
                %img{:src => "../images/banners/banner-2.jpg", :alt => ""}/

                .row
                    %header.unleash-post-header
                        .title
                            %h2
                                a particularly long title that needs a lot of room
                            %hr/
                            .emph Jennie Allen

                        %a.dart-left prev. post

                        %a.dart-right next post

                .row

                    %article
                        %p
                            Fugiat delectus banh mi non biodiesel, 3 wolf moon magna cardigan 8-bit wayfarers kitsch. Williamsburg gluten-free id yr et, hashtag american apparel selfies Banksy sartorial. Twee Schlitz brunch, ethnic lomo blue bottle dreamcatcher photo booth excepteur Godard +1 craft beer blog quinoa organic. Letterpress tumblr deserunt polaroid. Commodo PBR cray, helvetica mumblecore ex lomo irony. Sartorial craft beer ethical adipisicing ugh. Next level sunt PBR, fanny pack vinyl beard keffiyeh Portland shoreditch Truffaut fixie single-origin coffee kale chips.

                        %p
                            Fugiat delectus banh mi non biodiesel, 3 wolf moon magna cardigan 8-bit wayfarers kitsch. Williamsburg gluten-free id yr et, hashtag american apparel selfies Banksy sartorial. Twee Schlitz brunch, ethnic lomo blue bottle dreamcatcher photo booth excepteur Godard +1 craft beer blog quinoa organic. Letterpress tumblr deserunt polaroid. Commodo PBR cray, helvetica mumblecore ex lomo irony. Sartorial craft beer ethical adipisicing ugh. Next level sunt PBR, fanny pack vinyl beard keffiyeh Portland shoreditch Truffaut fixie single-origin coffee kale chips.



                        %footer
                            %hr.full/
                            .social
                                .date
                                    10.14.13
                                .social
                                    social stuff here




            %footer.site-footer
                .inner
                    .site-map
                        %a{:href => "gathering"}
                            Gathering
                        %a{:href => "what-if"}
                            What If?
                        %a{:href => "equip"}
                            Equip
                        %a{:href => "unleash"}
                            Unleash
                        %a{:href => "connect"}
                            Connect
                        %a{:href => "who-we-are"}
                            Who We Are

                    .brand
                        %img{:src => "../images/logos/ifgather-logo-white-sm.png", :alt => ""}/



