!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 9] <html lang="en" class="no-js lt-ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

%head
    / Meta
    %meta{:charset => "UTF-8"}
    %title If: Gather --dev
    %meta{:name=>"description", :content=>"If:Gather is…"}
    %meta{:name=>"author", :content=>"If:Gather"}
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1"}
    / Style
    %link{:rel => "stylesheet", :href => "../css/site.css"}
    /[if lt IE 9 ]
        %link{:rel => "stylesheet", :href => "../css/ie.css"}/
    / Scripts
    %script{:rel => "javascript", :src => "../js/vendor/custom.modernizr.js"}

%body.who-we-are

    %nav.pushy.pushy-left
        %ul
            %li
                %a{:href => "gathering.html"}
                    Gathering

            %li
                %a{:href => "what-if.html"}
                    What If?

            %li
                %a{:href => "equip.html"}
                    Equip

            %li
                %a{:href => "unleash.html"}
                    Unleash

            %li
                %a{:href => "connect.html"}
                    Connect

            %li
                %a{:href => "who-we-are.html"}
                    Who We Are

    #site-wrap

        %section.site-header
            .brand
                %a{:href => "index.html"}
                    %img{:src => "../images/logos/ifgather-logo-white-shadow-large+@2x.png", :alt => ""}/
                    %h1 IF:GATHERING


            %nav.site-nav
                %ul
                    %li
                        %a{:href => "gathering.html"}
                            Gathering

                    %li
                        %a{:href => "what-if.html"}
                            What If?

                    %li
                        %a{:href => "equip.html"}
                            Equip

                    %li
                        %a{:href => "unleash.html"}
                            Unleash

                    %li
                        %a{:href => "connect.html"}
                            Connect

                    %li.active
                        %a{:href => "who-we-are.html"}
                            Who We Are

            .menu-btn
                %span ☰
                Menu


        %section.content-wrap

            .row
                %header.page-header
                    %h2
                        who we are
                    %hr.dotted/

                    %p
                        A fresh, deep, honest space for the next generation of women
                        to wrestle with essential questions that plague their generation.
                        %br/
                        Questions like: If God is real, then what?


            .row
                %ul.profile-list.expansive

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/img/bio_jennie.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name jennie allen
                            %p.occupation Founder & Visionary
                            %p
                                Jennie is a passionate leader following God’s call on her life to catalyze a generation of women to live what they believe. She currently has two studies, one book in publication and speaks nationally. Jennie is married to her best friend, Zac, and they have been blessed with 4 children, the youngest of whom was adopted from Rwanda.


                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/img/bio_lindsey.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name lindsay nobles
                            %p.occupation Strategist
                            %p
                                Jennie is a passionate leader following God’s call on her life to catalyze a generation of women to live what they believe. She currently has two studies, one book in publication and speaks nationally. Jennie is married to her best friend, Zac, and they have been blessed with 4 children, the youngest of whom was adopted from Rwanda.


                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/img/bio_jessica.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name jessica taylor
                            %p.occupation Executive Director
                            %p
                                Jennie is a passionate leader following God’s call on her life to catalyze a generation of women to live what they believe. She currently has two studies, one book in publication and speaks nationally. Jennie is married to her best friend, Zac, and they have been blessed with 4 children, the youngest of whom was adopted from Rwanda.



            .row
                %header.page-section-header
                    %h3.sans if:leadership
                    %hr.dotted/


                %ul.profile-list.headshots
                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/img/bio_lauren.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name lauren chandler

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/img/bio_melissa.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name esther havens

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/img/bio_jen.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name esther havens

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/img/bio_tara.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name esther havens

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/img/bio_rebekah.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name esther havens

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/img/bio_bianca.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name esther havens




            .row
                %header.page-section-header
                    %h3.sans if:advisors
                    %hr.dotted/

                %ul.profile-list.headshots
                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/img/bio_lauren.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name lauren chandler

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/img/bio_melissa.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name esther havens

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/img/bio_jen.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name esther havens


            .panel
                .row
                    %header.page-header
                        %h2
                            Values
                        %hr.dotted/


                    .info-col
                        %h4.sans Culture
                        %p
                            Sriracha flexitarian yr, umami blue bottle next level cliche ugh wolf cardigan elit laboris mustache Brooklyn meggings. Flannel est meh, helvetica placeat irony forage aliqua yr irure. Esse bespoke before they.

                    .info-col
                        %h4.sans Content
                        %p
                            Esse bespoke before they sold out voluptate do Pinterest, enim wayfarers organic tote bag minim mustache exercitation YOLO pitchfork helvetica placeat irony forage aliqua yr irure.

                    .info-col
                        %h4.sans Content
                        %p
                            Esse bespoke before they sold out voluptate do Pinterest, enim wayfarers organic tote bag minim mustache exercitation. Helvetica nostrud minim forage, Echo Park semiotics +1 commodo labore YOLO pitchfork wolf leggings Wes Anderson salvia. Jean shorts butcher four loko.

                    .info-col
                        %h4.sans Culture
                        %p
                            Sriracha flexitarian yr, umami blue bottle next level cliche ugh wolf cardigan elit laboris mustache Brooklyn meggings. Flannel est meh, helvetica placeat irony forage aliqua yr irure. Leggings eu High Life, pickled skateboard Schlitz.

                    .info-col
                        %h4.sans Content
                        %p
                            Esse bespoke before they sold out voluptate do Pinterest, enim wayfarers organic tote bag minim mustache exercitation. Helvetica nostrud minim forage, Echo Park semiotics +1 commodo labore YOLO

                    .info-col
                        %h4.sans Content
                        %p
                            Esse bespoke before they sold out voluptate do Pinterest, enim wayfarers organic tote bag minim mustache exercitation. Helvetica nostrud minim forage, Echo Park semiotics +1 commodo labore YOLO pitchfork wolf leggings Wes Anderson salvia. Jean shorts butcher.




        %footer.site-footer
            .inner
                .site-map
                    %a{:href => "gathering.html"}
                        Gathering
                    %a{:href => "what-if.html"}
                        What If?
                    %a{:href => "equip.html"}
                        Equip
                    %a{:href => "unleash.html"}
                        Unleash
                    %a{:href => "connect.html"}
                        Connect
                    %a{:href => "who-we-are.html"}
                        Who We Are

                .brand
                    %a{:href => "index.html"}
                        %img{:src => "../images/logos/ifgather-logo-white-sm.png", :alt => ""}/


    %script{:rel => "javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:rel => "javascript", :src => "../js/pushy/pushy.min.js"}
    %script{:rel => "javascript", :src => "../js/site-ck.js"}


