!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 9] <html lang="en" class="no-js lt-ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

%head
    / Meta
    %meta{:charset => "UTF-8"}
    %title If: Gather --dev
    %meta{:name=>"description", :content=>"If:Gather is…"}
    %meta{:name=>"author", :content=>"If:Gather"}
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1"}
    / Style
    %link{:rel => "stylesheet", :href => "../css/site.css"}
    /[if lt IE 9 ]
        %link{:rel => "stylesheet", :href => "../css/ie.css"}/
    / Scripts
    %script{:rel => "javascript", :src => "../js/vendor/custom.modernizr.js"}

%body.who-we-are

    %nav.pushy.pushy-left
        %ul
            %li
                %a{:href => "gathering.html"}
                    Gathering

            %li
                %a{:href => "what-if.html"}
                    What If?

            %li
                %a{:href => "equip.html"}
                    Equip

            %li
                %a{:href => "unleash.html"}
                    Unleash

            %li
                %a{:href => "connect.html"}
                    Connect

            %li
                %a{:href => "who-we-are.html"}
                    Who We Are

    #site-wrap

        %section.site-header
            .brand
                %a{:href => "index.html"}
                    %img{:src => "../images/logos/ifgather-logo-white-shadow-large+@2x.png", :alt => ""}/
                    %h1 IF:GATHERING


            %nav.site-nav
                %ul
                    %li
                        %a{:href => "gathering.html"}
                            Gathering

                    %li
                        %a{:href => "what-if.html"}
                            What If?

                    %li
                        %a{:href => "equip.html"}
                            Equip

                    %li
                        %a{:href => "unleash.html"}
                            Unleash

                    %li
                        %a{:href => "connect.html"}
                            Connect

                    %li.active
                        %a{:href => "who-we-are.html"}
                            Who We Are

            .menu-btn
                %span ☰
                Menu


        %section.content-wrap

            .row
                %header.page-header
                    %h2
                        who we are
                    %hr.dotted/

                    %p
                        A fresh, deep, honest space for the next generation of women
                        to wrestle with essential questions that plague their generation.
                        %br/
                        Questions like: If God is real, then what?


            .row
                %ul.profile-list.expansive

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/archive/img/bio_jennie.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name jennie allen
                            %p.occupation Founder & Visionary
                            %p
                                Jennie is a passionate leader following God’s call on her life to catalyze a generation of women to live what they believe. She currently has two studies, one book in publication and speaks nationally. Jennie is married to her best friend, Zac, and they have been blessed with 4 children, the youngest of whom was adopted from Rwanda.


                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/archive/img/bio_lindsey.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name lindsay nobles
                            %p.occupation Strategist
                            %p
                                Jennie is a passionate leader following God’s call on her life to catalyze a generation of women to live what they believe. She currently has two studies, one book in publication and speaks nationally. Jennie is married to her best friend, Zac, and they have been blessed with 4 children, the youngest of whom was adopted from Rwanda.


                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/archive/img/bio_jessica.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name jessica taylor
                            %p.occupation Executive Director
                            %p
                                Jennie is a passionate leader following God’s call on her life to catalyze a generation of women to live what they believe. She currently has two studies, one book in publication and speaks nationally. Jennie is married to her best friend, Zac, and they have been blessed with 4 children, the youngest of whom was adopted from Rwanda.



            .row
                %header.page-section-header
                    %h3.sans if:leadership
                    %hr.dotted/


                %ul.profile-list.headshots
                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/archive/img/bio_lauren.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name lauren chandler
                            %p.occupation Executive Director

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/archive/img/bio_melissa.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name esther havens

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/archive/img/bio_jen.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name esther havens

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/archive/img/bio_tara.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name esther havens

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/archive/img/bio_rebekah.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name esther havens

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/archive/img/bio_bianca.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name esther havens




            .row
                %header.page-section-header
                    %h3.sans if:advisors
                    %hr.dotted/

                %ul.profile-list.headshots
                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/img/bio_lauren.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name lauren chandler

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/img/bio_melissa.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name esther havens

                    %li
                        .profile-img-wrap
                            %a{:href => "#"}
                                %img{:src => "http://ifgathering.com/img/bio_jen.jpg", :alt => ""}/

                        .profile-info-wrap
                            %h4.name esther havens


            .panel
                .row
                    %header.page-header
                        %h2
                            The Nicean Creed
                        %hr.dotted/

                    .more-info-text.newspaper-col
                        %p
                            In response to great division and theological disputes in the first three centuries of the

                            church a council formed to bring unity and agreement over the most essential doctrines

                            of Christianity.

                            This creed unified the new church thousands of years ago. We believe it could again.

                            We find ourselves divided over many many things. And yet about the most important

                            things we whole heartedly agree....

                            We believe in one God, the Father, the Almighty,

                            maker of heaven and earth,

                            of all that is, seen and unseen. 

                            We believe in one Lord, Jesus Christ,

                            the only Son of God,

                            eternally begotten of the Father,

                            God from God, Light from Light,

                            true God from true God,

                            begotten, not made,

                            of one Being with the Father.

                            Through him all things were made.

                            For us and for our salvation

                            he came down from heaven:

                            by the power of the Holy Spirit

                            he became incarnate from the Virgin Mary,

                            and was made man.

                            For our sake he was crucified under Pontius Pilate;

                            he suffered death and was buried.

                            On the third day he rose again

                            in accordance with the Scriptures;

                            he ascended into heaven

                            and is seated at the right hand of the Father.

                            He will come again in glory to judge the living and the dead,

                            and his kingdom will have no end. 

                            We believe in the Holy Spirit, the Lord, the giver of life,

                            who proceeds from the Father and the Son.

                            With the Father and the Son he is worshiped and glorified.

                            He has spoken through the Prophets.

                            We believe in one holy catholic and apostolic Church.

                            We acknowledge one baptism for the forgiveness of sins.

                            We look for the resurrection of the dead,

                            and the life of the world to come.  

                        %p Amen

                        %hr.dotted/

                        %p
                            %b
                                IF:Gathering exists because of Jesus and under His name we are unified and for His name we gather. If you are wrestling with your faith, we hope you will find this gathering a safe deep place to wrestle.

                    %br/

                    %header.page-header
                        %h2
                            Values
                        %hr.dotted/


                    .js-masonry
                        .info-col
                            %h4.sans Culture
                            %p
                                Sriracha flexitarian yr, umami blue bottle next level cliche ugh wolf cardigan elit laboris mustache Brooklyn meggings. Flannel est meh, helvetica placeat irony forage aliqua yr irure. Esse bespoke before they.

                        .info-col
                            %h4.sans Content
                            %p
                                Esse bespoke before they sold out voluptate do Pinterest, enim wayfarers organic tote bag minim mustache exercitation YOLO pitchfork helvetica placeat irony forage aliqua yr irure.

                        .info-col
                            %h4.sans Content
                            %p
                                Esse bespoke before they sold out voluptate do Pinterest, enim wayfarers organic tote bag minim mustache exercitation. Helvetica nostrud minim forage, Echo Park semiotics +1 commodo labore YOLO pitchfork wolf leggings Wes Anderson salvia. Jean shorts butcher four loko.

                        .info-col
                            %h4.sans Culture
                            %p
                                Sriracha flexitarian yr, umami blue bottle next level cliche ugh wolf cardigan elit laboris mustache Brooklyn meggings. Flannel est meh, helvetica placeat irony forage aliqua yr irure. Leggings eu High Life, pickled skateboard Schlitz.

                        .info-col
                            %h4.sans Content
                            %p
                                Esse bespoke before they sold out voluptate do Pinterest, enim wayfarers organic tote bag minim mustache exercitation. Helvetica nostrud minim forage, Echo Park semiotics +1 commodo labore YOLO

                        .info-col
                            %h4.sans Content
                            %p
                                Esse bespoke before they sold out voluptate do Pinterest, enim wayfarers organic tote bag minim mustache exercitation. Helvetica nostrud minim forage, Echo Park semiotics +1 commodo labore YOLO pitchfork wolf leggings Wes Anderson salvia. Jean shorts butcher.




        %footer.site-footer
            .inner
                .site-map
                    %a{:href => "gathering.html"}
                        Gathering
                    %a{:href => "what-if.html"}
                        What If?
                    %a{:href => "equip.html"}
                        Equip
                    %a{:href => "unleash.html"}
                        Unleash
                    %a{:href => "connect.html"}
                        Connect
                    %a{:href => "who-we-are.html"}
                        Who We Are

                .brand
                    %a{:href => "index.html"}
                        %img{:src => "../images/logos/ifgather-logo-white-sm.png", :alt => ""}/


    %script{:rel => "javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:rel => "javascript", :src => "../js/pushy/pushy.min.js"}
    %script{:rel => "javascript", :src => "../js/site-ck.js"}


