





// --------------------
// Structure: Base
// --------------------
html {
    height: 100%;
}


// Home Specific
// ----------------
body.home {
    background: url('../images/content/bg-placeholder.jpg') no-repeat 0 -2000px;

    .site-header .brand {
        padding: 124px 0;
    }
}


// Site Header
// ----------------
.site-header {

    .brand {
        text-align: center;
        padding: 84px 0;

        h1 {
            a {
                display: block;
                color:$white;
                letter-spacing: .24em;
            }
        }
    }
}


// Site Navigation
// ----------------
nav.site-nav {
    ul {
        list-style: none;
        display: table;
        margin: 0 auto;
        position: relative;
        top: -26px;

        li {
            display: inline-block;

            a {
                padding: 14px 20px;
                font-family: $serif-1;
                color: $white;
                letter-spacing: .2em;
                position: relative;
            }

            &.active {
                a:after {
                    content: '';
                    top:48px;
                    height: 0;
                    left: 50%;
                    margin-left: -14px;
                    position: absolute;
                    border-bottom: 14px solid $white;
                    border-left: 14px solid transparent;
                    border-right: 14px solid transparent;
                }
            }

        }
    }
}



// Site Content
// ----------------
.content-wrap {
    background: $white;

    // temp
    min-height: 500px;
}



// Site Footer
// ----------------
.site-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: $primary-color;
    padding: 40px 0;

    .inner {
        @include grid-row();
        min-height: 20px;
    }

    ul li {
        display: inline-block;
    }

    a {
        color: $white;
        font-family: $serif-1;
        padding: 0 10px;
        letter-spacing: .2em;
        font-size: emCalc(14px);
    }

    .site-map {
        float:left;
    }

    .brand {
        float:right;
    }
}



