





// --------------------
// Structure: Base
// --------------------
html {
    height: 100%;
}

body {
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#site-wrap {
    position: relative;
}


// Site Content
// ----------------
.content-wrap {
    background: $white;
    padding-bottom: 142px;
}


// Site Header
// ----------------

.site-header {
    // Default Site Header
    background: url(../images/patterns/cream.png) repeat;

    .brand {
        text-align: center;
        padding: 94px 0 104px;
        @include transition(all .5s ease-in);

        a {
            display: block;
        }
        h1 {
             text-indent: -9999px;
             position: absolute;
        }

        @include breakpoint(tablet-V) {
            padding: 64px 0 54px;
            margin: 0 auto;
            width: 80%;
        }

    }
}


@include breakpoint(large-monitors) {
    .site-header {
        background-size: 100% !important;
    }
}
body.blog, body.story, body.search, body.unleash-story, body.thanks,  body.connect {
    .site-header {
        background-size: auto !important;
    }
    nav.site-nav ul li a {
        text-shadow: none !important;
    }
}

body.thanks .content-wrap, body.register .content-wrap {
    padding: 100px 0 142px;
}

body.home .content-wrap {
    padding-bottom:0;
}

// Site Navigation
// ----------------
nav.site-nav {

    ul {
        list-style: none;
        display: table;
        margin: 0 auto;
        position: relative;
        top: -40px;
        @include transition(all .5s ease);

        li {
            display: inline-block;

            a {
                padding: 14px 20px;
                font-family: $serif-roman;
                color: $primary-color;
                letter-spacing: .4em;
                position: relative;
                font-size: emCalc(14);
                @include transition(all .15s ease-in-out);
                text-shadow: 1px 1px 11px #333;

                // &:hover {
                //     color: $primary-color !important;
                // }
            }

            &.active {
                a:after {
                    content: '';
                    top:61px;
                    height: 0;
                    left: 50%;
                    margin-left: -6px;
                    position: absolute;
                    border-bottom: 14px solid $white;
                    border-left: 14px solid transparent;
                    border-right: 14px solid transparent;
                }
            }

        }
    }

    @include breakpoint(tablet-H) {
        ul {
            li {
                a {
                    padding: 10px;
                }
            }
        }
    }

    @include breakpoint(tablet-V) {
        ul {
            opacity:0;
            z-index: -1
        }
    }
}

#container {
    position: relative;
}



// Site Footer
// ----------------
.site-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: url('../images/patterns/grey.png') repeat;
    padding: 40px 0;

    .inner {
        @include grid-row();
        padding: 0 15px;
    }

    ul li, li {
        display: inline-block;
        list-style:none;
    }

    a {
        color: $white;
        font-family: $serif-roman;
        padding: 0 10px 0 0;
        letter-spacing: .2em;
        font-size: emCalc(14px);
    }

    .site-map {
        float:left;
        line-height:30px;

        a {
            display: inline-block;
        }
    }

    .brand {
        float:right;
        width: 50px;
    }


    .row {
        padding: 0 20px;
    }


    .social-details {
        clear: both;
        text-align: left;
        margin: 12px -20px 0;
        float: left;

        .entypo-social.circle {
            border-color:white;

            &:hover {
                border-color: $primary-color;
                background: $primary-color;
            }
        }
    }

    .logged-in-author {
        text-align: center;
        margin-top: 24px;
        border-top: 1px solid #FFF;
        padding: 24px 0 0;
    }

    #facebook-like {clear: both; margin: 94px -20px 0;}

    @include breakpoint(tablet-V) {

        .brand {
            width: 50px;
            float: none;
            margin: 0 auto;
        }

        .site-map {
            float: none;
            text-align: center;
            margin-bottom: 20px;
        }

        .social-details {
            text-align: center;
            margin: 24px -20px 0;
            float: none;
        }

        .addthis_toolbox.addthis_default_style {
            width: 94px;
            margin: 12px auto;
        }

    }
}



