.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: url("../images/patterns/grey.png") repeat;
  font-size: 0.9em;
  font-weight: bold;
  -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
  box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);

  a {
    display: block;
    font-family: $serif-roman;
    color: $white;
    padding: 15px 30px;
    border-top: 1px solid $primary-color;
    text-decoration: none;
    &:hover {
      color: $secondary-color;
    }
  }
  li.active a {
    color: $secondary-color;
  }

  p {
    padding: 15px 30px;
    margin: 42px 0 0;
    color:white;
    font-family: $sans-gothic;
  }

}


.menu-btn {
    font-family: $serif-roman;
    color: white;
    font-size: 0.875em;
    letter-spacing: .4em;
    margin: -48px 6px 0;
    padding-bottom: 12px;
    @include transition(all .5s ease-in .5s);
    position: absolute;
    margin-left: -200px;

    span {
        font-family: 'EntypoRegular';
        font-size: emCalc(32);
        display: inline-block;
        position: relative;
        top: 2px;
        left: 5px;
    }
}

@include breakpoint(tablet-V) {
    .menu-btn {
        margin-left:32px;
    }
}

/* Menu Movement */

.pushy-left {
  -webkit-transform: translate3d(-200px, 0, 0);
  -moz-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  -o-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.pushy-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.container-push {
  -webkit-transform: translate3d(200px, 0, 0);
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -o-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

/* Menu Transitions */

.pushy, #site-wrap {
  -webkit-transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}


/* Site Overlay */

.site-overlay {
  display: none;
}

.pushy-active .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 200px;
  z-index: 9999;
}

.pushy-active .pushy-left {
  left: 200px !important;
}
/* Example Media Query */

@media screen and (max-width: 768px) {
  .pushy {
    font-size: 1.0em;
  }
}