





// --------------------
// Structure: Type
// --------------------
h1, h2, h3, h4, h5, h6 {
    letter-spacing: .24em;
    text-align: center;
    text-transform: uppercase;
    margin: 42px auto;
}



